@model IEnumerable<Product>
@{
    ViewData["Title"] = "Product Catalog";
}

<h1>Product Catalog</h1>

<p>
	@TempData["Message"]
</p>

<a asp-action="Add">Add Product</a>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
			<tr>
				<th>@Html.DisplayNameFor(m => m.Title)</th>
				<th>@Html.DisplayNameFor(m => m.Price)</th>
				<th>@Html.DisplayNameFor(m => m.Category)</th>
				<th></th>
			</tr>
        </thead>
		<tbody>
			@foreach(Product p in Model)
			{
				<tr>
					<td>@p.Title</td>
					<td>@Html.DisplayFor(m => p.Price)</td>
					<td>@p.Category</td>
					<td>
						<a class="btn btn-secondary" href="">Edit</a>
						<a class="btn btn-danger" href="">Delete</a>
					</td>
				</tr>
			}
		</tbody>
    </table>
</div>