@model IEnumerable<Product>
@{
	ViewData["Title"] = "Product Catalog";
}

<h1>Product Catalog</h1>

@if (TempData["Message"] != null)
{
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		@TempData["Message"]
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}

<a asp-action="Add">Add Product</a>

<div class="table-responsive">
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(m => m.Title)</th>
				<th>@Html.DisplayNameFor(m => m.Price)</th>
				<th>@Html.DisplayNameFor(m => m.Category)</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (Product p in Model)
			{
				<tr>
					<td>@p.Title</td>
					<td>@Html.DisplayFor(m => p.Price)</td>
					<td>@p.Category</td>
					<td>
						<a class="btn btn-secondary" asp-action="Edit" asp-route-id="@p.ProductId">Edit</a>
						<a class="btn btn-danger" asp-action="Delete" asp-route-id="@p.ProductId">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
@*Print page numbers*@
<ul class="pagination">
@for(int i = 1; i <= (int)ViewData["MaxPage"]; i++)
{
	string classes = "page-item";
	if(i == (int)ViewData["CurrentPage"])
	{
		classes += " active";
	}
	<li class="@classes">
		<a class="page-link" asp-action="Index" asp-route-id="@i">
			@i
		</a>
	</li>
}
</ul>